@use "../base/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.game--letters--container{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
}

.game--letter{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgb(146, 145, 145);
    border-style: none;
    margin: 0.2rem;
}

.game--letter:disabled{
    background-color: grey;
    pointer-events: none;
}

.game--new--game{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgb(146, 145, 145);
    border-style: none;
    margin: 0.2rem;
}

.game--letter:hover{
    transform: translateY(-4px);
    transition: ease-in-out 0.2s;
}

.game--new--game:hover{
    transform: translateY(-4px);
    transition: ease-in-out 0.2s;
}