.game--img--status{
    width: 12.5rem;
    margin: 2rem;
    width: 400px;  
    height: 400px;
    object-fit: contain;
}

@media (max-width: 480px) {
  .game--img--status {
    width: 180px;
    height: 300px;
    margin: 0.75rem auto;
  }
}
